.portfolio_container{
    width: 100%;
    text-align: center;
    display: flex;
}


.portfolio_card {
    display: flex;
    flex-direction: column;
    width: 30%;

}
.card-left {
    flex: left;
}

.card-right {

    flex: right;
}

.card-center {
    padding: 0 5px 0 5px;
}

.card-title {
    alignment: center;
}